{% extends 'base.html' %}

{% block title %} Category - Create {% endblock title %}

{% block section_title %} {% include 'includes/sec_title.html' with section_title=sec_title %} {% endblock %}

{% block content %}

<section class="section-content padding-y">
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
    {% include 'includes/alert_success.html' %}
      <article class="card-body">
      <form method="POST">
        {% csrf_token %}

          <div class="form-row">
            <div class="col form-group">
              <label>Title</label>
                {{ form.title }}
            </div> 

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Create </button>
            </div>
          </div> 

        {{ form.errors }}
        {{ form.non_field_errors }}
        </form>
      </article>
    </div>

</section>

{% endblock %}
