{% extends 'base.html' %}

{% block title %} Tasks {% endblock title %}

{% block section_title %} {% include 'includes/sec_title.html' with section_title=sec_title %} {% endblock %}

{% block content %}
<section>

{% if tasks %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
          <tr>
            <th scope="col" class="px-6 py-3 text-center">
                ID
            </th>
            <th scope="col" class="px-6 py-3">
                Title
            </th>
            <th scope="col" class="px-6 py-3">
                Category
            </th>
            <th scope="col" class="px-6 py-3">
                Assigned To
            </th>
            <th scope="col" class="px-6 py-3">
                Status
            </th>
            <th scope="col" class="px-6 py-3 text-center">
                Priority
            </th>
            <th scope="col" class="px-6 py-3">
                Due Date
            </th>
            <th scope="col" class="px-6 py-3 text-center">
                Actions
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in tasks %}
          <tr class="{% cycle 'bg-white' 'bg-gray-100' %} border-b">
              <td class="text-center">
                <a 
                  href="#"
                  class="inline-block font-medium text-lg text-blue-600 hover:bg-green-100 hover:text-green-600 w-7 h-7 rounded-full"
                >
                  {{item.pk}}
                </a>
                </td>
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  {{item.title}}
              </td>
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  {{item.category}}
              </td>
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  {{item.assigned_to}}
              </td>
              <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap capitalize status">
                {% if item.status == 'to-do' %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-200 text-green-800">
                  {{item.status}}
                </span>
                {% elif item.status == 'in-progress' %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                  {{item.status}}
                </span>
                {% elif item.status == 'completed' %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-200 text-red-800">
                  {{item.status}}
                </span>
                {% endif %}

              </td>
              
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                {% if item.priority <= 3 %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-200 text-green-800">
                  {{item.priority}}
                </span>
                {% elif item.priority <= 5 %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-200 text-yellow-800">
                  {{item.priority}}
                </span>
                {% elif item.priority <= 8 %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-200 text-red-800">
                  {{item.priority}}
                </span>
                {% endif %}
              </td>

              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  {{item.due_date}}
              </td>
              

              <td class="px-6 py-4 text-center">
                <a 
                  href="{% url 'edit_task' pk=item.pk %}" 
                  class="inline-block font-medium text-lg text-center text-blue-600 hover:bg-sky-100 hover:text-sky-600 w-7 h-7 rounded-full"
                >
                  <span title="Edit" class="text-lg">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </span>
                </a>
                <a 
                  href="{% url 'delete_task' pk=item.pk %}" 
                  class="inline-block font-medium text-lg text-center text-blue-600 hover:bg-red-100 hover:text-red-600 ml-1 w-7 h-7 rounded-full"
                >
                  <span title="Delete" class="text-lg">
                    <i class="fa-regular fa-trash-can"></i>
                  </span>
                </a>
              </td>

            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="flex justify-center items-center">
      <h1 class="text-2xl text-gray-500">No Tasks Found</h1>
    </div>
  {% endif %}

  <div class="mt-5 flex items-center justify-between me-2">
    <div>
      <a 
        href="{% url 'create_task' %}" 
        class="inline-block font-medium text-lg text-center text-blue-600 bg-green-100 hover:bg-green-700 hover:text-green-100 w-7 h-7 rounded-full flex justify-center items-center shadow-lg shadow-blue-500/50 "
      >
        <span title="Create task" class="text-2xl">
          <i class="fa-regular fa-plus"></i>
        </span>
      </a>
    </div>

  </div>
</section>
{% endblock content %}
